apiVersion: v1
kind: Secret
metadata:
  name: mongo-secret
type: Opaque
# stringData allows you to provide the raw string instead of base64 encoding manually.
# Kubernetes will encode it for you when saving.
stringData:
  MONGO_URI: "insert-your-atlas-mongo-uri-here"
